:root .Root__main-view .main-card-card {
  border-radius: var(--border-radius);
  padding: 0;
  overflow: hidden;
}
:root .Root__main-view .main-card-card .main-card-imageContainer {
  margin-bottom: -4px;
}
:root .Root__main-view .main-card-card .main-card-imageContainer .main-cardImage-circular, :root .Root__main-view .main-card-card .main-card-imageContainer img {
  border-radius: 0;
}
:root .Root__main-view .main-card-card .main-card-cardMetadata {
  padding: 16px;
}
:root .Root__main-view .main-entityHeader-container {
  padding: 32px;
  justify-content: center;
}
:root .Root__main-view .main-entityHeader-container .playlist-playlist-playlistImageContainer, :root .Root__main-view .main-entityHeader-container > div:nth-last-of-type(2) {
  align-self: center;
}
:root .Root__main-view .main-entityHeader-container .main-entityHeader-imageContainer + .main-entityHeader-headerText, :root .Root__main-view .main-entityHeader-container .playlist-playlist-playlistImageContainer + .main-entityHeader-headerText {
  flex: unset;
  justify-content: center;
}
:root .Root__main-view .main-entityHeader-container .main-entityHeader-imageContainer + .main-entityHeader-headerText .main-entityHeader-title h1, :root .Root__main-view .main-entityHeader-container .playlist-playlist-playlistImageContainer + .main-entityHeader-headerText .main-entityHeader-title h1 {
  font-size: 50px !important;
}
:root .Root__main-view .playlist-playlist-playlistContent .main-addButton-active, :root .Root__main-view .playlist-playlist-playlistContent .main-addButton-active:focus, :root .Root__main-view .playlist-playlist-playlistContent .main-addButton-active:hover {
  color: #d25050;
}

:root .Root__nav-bar {
  overflow: hidden;
}
:root .Root__nav-bar ul.main-navBar-entryPoints {
  column-gap: 16px;
  padding: 0 12px;
  box-sizing: content-box;
  transition: 350ms background-color;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  margin: 24px 12px 0 12px;
  background-color: rgba(0, 0, 0, 0.1);
}
:root .Root__nav-bar ul.main-navBar-entryPoints#spicetify-sticky-list {
  display: grid;
  grid-template-areas: "home home home home" "search search search search" "collection collection collection collection" "lyrics-plus lyrics-plus lyrics-plus lyrics-plus" "reddit reddit reddit reddit" "new-releases new-releases new-releases new-releases" "add tracks episodes .";
  grid-template-columns: 25px 25px 25px 1fr;
}
:root .Root__nav-bar ul.main-navBar-entryPoints#spicetify-sticky-list li[data-id="/"] {
  grid-area: home;
}
:root .Root__nav-bar ul.main-navBar-entryPoints#spicetify-sticky-list li[data-id="/search"] {
  grid-area: search;
}
:root .Root__nav-bar ul.main-navBar-entryPoints#spicetify-sticky-list li[data-id="/collection"] {
  grid-area: collection;
}
:root .Root__nav-bar ul.main-navBar-entryPoints#spicetify-sticky-list li[data-id="/lyrics-plus"] {
  grid-area: lyrics-plus;
}
:root .Root__nav-bar ul.main-navBar-entryPoints#spicetify-sticky-list li[data-id="/reddit"] {
  grid-area: reddit;
}
:root .Root__nav-bar ul.main-navBar-entryPoints#spicetify-sticky-list li[data-id="/new-releases"] {
  grid-area: new-releases;
}
:root .Root__nav-bar ul.main-navBar-entryPoints#spicetify-sticky-list div[data-id="/add"] {
  grid-area: add;
}
:root .Root__nav-bar ul.main-navBar-entryPoints#spicetify-sticky-list div[data-id="/collection/episodes"] {
  grid-area: episodes;
}
:root .Root__nav-bar ul.main-navBar-entryPoints#spicetify-sticky-list div[data-id="/collection/tracks"] {
  grid-area: tracks;
}
:root .Root__nav-bar ul.main-navBar-entryPoints > li {
  padding: 0;
  margin: 0 -12px;
}
:root .Root__nav-bar ul.main-navBar-entryPoints > li a {
  padding: 0 12px;
  border-radius: 0;
  background-color: transparent;
}
:root .Root__nav-bar ul.main-navBar-entryPoints > li a.main-navBar-navBarLinkActive {
  background-color: #5c6eb12a;
}
:root .Root__nav-bar ul.main-navBar-entryPoints > li a svg {
  display: none;
}
:root .Root__nav-bar ul.main-navBar-entryPoints > li:first-child a {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .Root__nav-bar ul.main-navBar-entryPoints > div {
  padding: 0;
  margin: 2px 0;
}
:root .Root__nav-bar ul.main-navBar-entryPoints > div > *.active {
  background: none;
}
:root .Root__nav-bar ul.main-navBar-entryPoints > div button, :root .Root__nav-bar ul.main-navBar-entryPoints > div a {
  padding: 0;
}
:root .Root__nav-bar ul.main-navBar-entryPoints > div button div, :root .Root__nav-bar ul.main-navBar-entryPoints > div a div {
  margin-right: 0;
  border-radius: var(--border-radius);
}
:root .Root__nav-bar ul.main-navBar-entryPoints > div button span, :root .Root__nav-bar ul.main-navBar-entryPoints > div a span {
  display: none;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/"] .home-icon {
  background: url("https://i.imgur.com/jqDH9TQ.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/"] .home-active-icon {
  background: url("https://i.imgur.com/60h58oZ.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/search"] .search-icon {
  background: url("https://i.imgur.com/UV5JQpE.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/search"] .search-active-icon {
  background: url("https://i.imgur.com/CTVdQ3d.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/collection"] .collection-icon {
  background: url("https://i.imgur.com/alXGfxW.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/collection"] .collection-active-icon {
  background: url("https://i.imgur.com/SzvrAfr.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/lyrics-plus"] .collection-icon {
  background: url("https://i.imgur.com/91fuU3P.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/lyrics-plus"] .collection-active-icon {
  background: url("https://i.imgur.com/EgRCYe8.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/reddit"] .collection-icon {
  background: url("https://i.imgur.com/6N6ev2V.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/reddit"] .collection-active-icon {
  background: url("https://i.imgur.com/UENFDdo.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/new-releases"] .collection-icon {
  background: url("https://i.imgur.com/BgkCeDG.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/new-releases"] .collection-active-icon {
  background: url("https://i.imgur.com/CTRVDwF.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints:not(#spicetify-sticky-list) + .main-rootlist-rootlist > div {
  display: grid;
  grid-template-areas: "add tracks ." "playlists playlists playlists";
  grid-template-columns: 25px 25px 1fr;
  grid-template-rows: 25px 1fr;
  column-gap: 16px;
  margin: 12px 12px 0 12px;
}
:root .Root__nav-bar ul.main-navBar-entryPoints:not(#spicetify-sticky-list) + .main-rootlist-rootlist > div > div:first-child {
  grid-area: add;
  margin: -6px 0 0 12px;
}
:root .Root__nav-bar ul.main-navBar-entryPoints:not(#spicetify-sticky-list) + .main-rootlist-rootlist > div > div:first-child::before {
  content: "";
  position: absolute;
  width: calc(100% - 24px);
  height: 40px;
  margin: -6px 0 0 -12px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
:root .Root__nav-bar ul.main-navBar-entryPoints:not(#spicetify-sticky-list) + .main-rootlist-rootlist > div > div:first-child button {
  padding: 0;
}
:root .Root__nav-bar ul.main-navBar-entryPoints:not(#spicetify-sticky-list) + .main-rootlist-rootlist > div > div:first-child button .main-createPlaylistButton-createPlaylistIcon {
  border-radius: var(--border-radius);
}
:root .Root__nav-bar ul.main-navBar-entryPoints:not(#spicetify-sticky-list) + .main-rootlist-rootlist > div > div:nth-child(2) {
  grid-area: tracks;
  margin: -6px 0 0 12px;
}
:root .Root__nav-bar ul.main-navBar-entryPoints:not(#spicetify-sticky-list) + .main-rootlist-rootlist > div > div:nth-child(2) a {
  padding: 0;
}
:root .Root__nav-bar ul.main-navBar-entryPoints:not(#spicetify-sticky-list) + .main-rootlist-rootlist > div > div:nth-child(2) a .main-likedSongsButton-likedSongsIcon {
  border-radius: var(--border-radius);
}
:root .Root__nav-bar ul.main-navBar-entryPoints:not(#spicetify-sticky-list) + .main-rootlist-rootlist > div > div:last-child {
  grid-area: playlists;
}
:root .Root__nav-bar .main-rootlist-rootlistDividerContainer {
  display: none;
}
:root .Root__nav-bar .main-rootlist-rootlist {
  margin-top: 0;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content {
  padding-top: 16px !important;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content::before {
  content: "Playlists";
  visibility: visible;
  width: unset;
  height: unset;
  line-height: unset;
  display: block;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 12px;
  overflow: hidden;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"]:not(#spicetify-playlist-list) {
  margin: 12px 0 0 0;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] .main-rootlist-wrapper {
  height: unset !important;
  contain: unset !important;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] .main-rootlist-wrapper .main-rootlist-rootlistItem {
  padding: 0;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] .main-rootlist-wrapper .main-rootlist-rootlistItem .main-rootlist-rootlistItemLink {
  padding: 4px 12px;
  box-sizing: content-box;
  transition: 150ms background-color;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] .main-rootlist-wrapper .main-rootlist-rootlistItem .main-rootlist-rootlistItemLink + button {
  border-radius: 0 !important;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] .main-rootlist-wrapper .main-rootlist-rootlistItem .main-rootlist-rootlistItemLink + div > button {
  margin-left: 0;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] .main-rootlist-wrapper .main-rootlist-rootlistItem .main-rootlist-rootlistItemLinkActive, :root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] .main-rootlist-wrapper .main-rootlist-rootlistItem .main-rootlist-rootlistItemLink:focus, :root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] .main-rootlist-wrapper .main-rootlist-rootlistItem .main-rootlist-rootlistItemLink:hover, :root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] .main-rootlist-wrapper .main-rootlist-rootlistItem .main-rootlist-rootlistItemLinkActive + *, :root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] .main-rootlist-wrapper .main-rootlist-rootlistItem .main-rootlist-rootlistItemLink:focus + *, :root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] .main-rootlist-wrapper .main-rootlist-rootlistItem .main-rootlist-rootlistItemLink:hover + * {
  background-color: #5c6eb12a;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] .main-rootlist-wrapper .main-rootlist-rootlistItem .main-rootlist-statusIcons:not(:empty) {
  margin-inline-start: 0;
  padding: 4px 12px;
  transition: 150ms background-color;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] .main-rootlist-wrapper .main-rootlist-rootlistItem .main-rootlist-expandArrow {
  height: unset;
  margin-left: 0;
  padding: 4px 12px;
  transition: 150ms background-color;
}
:root .Root__nav-bar .main-coverSlotExpanded-container .cover-art .cover-art-image {
  border-radius: 0;
}

:root .Root__now-playing-bar .main-nowPlayingBar-container {
  border-top: none;
  background-color: transparent;
}
:root .Root__now-playing-bar .main-nowPlayingBar-container .main-nowPlayingBar-nowPlayingBar {
  box-sizing: content-box;
  padding-bottom: 16px;
}
:root .Root__now-playing-bar .main-nowPlayingBar-container .main-nowPlayingBar-nowPlayingBar .main-nowPlayingWidget-nowPlaying.main-nowPlayingWidget-coverExpanded {
  transform: translateX(-100px);
}
:root .Root__now-playing-bar .main-nowPlayingBar-container .main-nowPlayingBar-nowPlayingBar .main-nowPlayingWidget-nowPlaying .main-coverSlotCollapsed-container {
  top: -20px;
}
:root .Root__now-playing-bar .main-nowPlayingBar-container .main-nowPlayingBar-nowPlayingBar .main-nowPlayingWidget-nowPlaying .main-coverSlotCollapsed-container .cover-art {
  width: 84px !important;
  height: 84px !important;
  border-radius: var(--border-radius);
  overflow: hidden;
}
:root .Root__now-playing-bar .playback-bar {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "time-left time-right" "bar bar";
  bottom: 0;
}
:root .Root__now-playing-bar .playback-bar .saber-hilt {
  height: 0;
}
:root .Root__now-playing-bar .playback-bar .playback-progressbar {
  grid-column: 1/3;
  grid-area: bar;
}
:root .Root__now-playing-bar .playback-bar .playback-progressbar > div > div {
  --progress-bar-height: 12px;
  --progress-bar-radius: 0;
}
:root .Root__now-playing-bar .playback-bar .playback-progressbar > div > div > div > div {
  width: 105%;
  background-color: transparent;
  background-image: linear-gradient(90deg, #1ed760 93%, transparent 100%);
}
:root .Root__now-playing-bar .playback-bar .playback-progressbar .progress-bar__slider {
  display: none;
}
:root .Root__now-playing-bar .playback-bar > div:first-of-type {
  grid-area: time-left;
}
:root .Root__now-playing-bar .playback-bar > div:last-of-type {
  grid-area: time-right;
}
:root .Root__now-playing-bar .playback-bar button {
  width: 0;
}

.x-settings-container {
  max-width: unset;
}
.x-settings-container .x-toggle-indicatorWrapper {
  border-radius: var(--border-radius);
}

:root .Root__top-bar header button {
  border-radius: var(--border-radius);
}
:root .Root__top-bar header button[title="Popup Lyrics"] {
  background-image: url("https://i.imgur.com/91fuU3P.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}
:root .Root__top-bar header button[title="Popup Lyrics"] svg {
  display: none;
}
:root .Root__top-bar header .main-topBar-historyButtons button, :root .Root__top-bar header .lyrics-tabBar-active {
  background-color: rgba(11, 11, 17, 0.32);
}
:root .Root__top-bar header .main-topBar-UpgradeButton {
  font-size: 0;
  overflow: hidden;
  background: url("https://i.imgur.com/nzAfcIL.png") 50%/contain no-repeat;
  border: none;
  padding: 5px;
  box-sizing: content-box;
}
:root .Root__top-bar header .main-userWidget-box {
  height: unset;
  padding: 0;
  gap: 12px;
}
:root .Root__top-bar header .main-userWidget-box .main-avatar-avatar {
  width: 40px !important;
  height: 40px !important;
}
@media (min-width: 1024px) {
  :root .Root__top-bar header .main-userWidget-box .main-avatar-avatar .main-avatar-image {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }
}
:root .Root__top-bar header .main-userWidget-box .main-userWidget-displayName {
  padding-right: 12px;
}
:root .Root__top-bar header .main-userWidget-box .main-userWidget-chevron {
  display: none;
}

.Root__main-view > div:first-of-type > div, .desktoproutes-homepage-takeover-ad-hptoComponent-parentContainer {
  display: none;
}

:root {
  --border-radius: 8px;
}
:root button, :root input, :root img {
  border-radius: var(--border-radius);
}
:root .main-trackList-trackListRowGrid {
  grid-template-columns: [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(120px, 1fr) !important;
  border-radius: var(--border-radius);
  border: none;
  padding-left: 10px;
}
:root .main-trackList-trackListRowGrid.main-trackList-trackListRow > .main-trackList-rowSectionIndex {
  position: absolute;
  z-index: 1000;
  top: 8px;
  left: 10px;
  width: 40px;
  height: 40px;
  justify-content: center;
  text-indent: -1000px;
}
:root .main-trackList-trackListHeader {
  display: none;
}
:root .main-trackList-rowHeartButton *:not([fill=none]), :root .control-button-heart *:not([fill=none]) {
  color: #d25050 !important;
  fill: #d25050 !important;
}
:root #context-menu {
  overflow: hidden;
}
:root #context-menu ul {
  padding: 0;
  background-color: var(--spice-player);
}
:root #context-menu ul button, :root #context-menu ul a {
  border-radius: 0;
}
:root #context-menu ul button::before, :root #context-menu ul button::after, :root #context-menu ul a::before, :root #context-menu ul a::after {
  content: none;
}
:root #context-menu ul button:not(.main-contextMenu-disabled):focus, :root #context-menu ul button:not(.main-contextMenu-disabled):hover, :root #context-menu ul button[aria-expanded=true], :root #context-menu ul a:not(.main-contextMenu-disabled):focus, :root #context-menu ul a:not(.main-contextMenu-disabled):hover, :root #context-menu ul a[aria-expanded=true] {
  background-color: #5c6eb12a;
  transition: 150ms background-color;
}
:root #bookmark-menu {
  background-color: var(--spice-player);
  border-radius: var(--border-radius);
}
:root #bookmark-menu .bookmark-filter {
  background-color: var(--spice-player);
}
:root #bookmark-menu button, :root #bookmark-menu a {
  border-radius: 0;
}
:root #bookmark-menu button::before, :root #bookmark-menu button::after, :root #bookmark-menu a::before, :root #bookmark-menu a::after {
  content: none;
}
:root #bookmark-menu button:not(.main-contextMenu-disabled):focus, :root #bookmark-menu button:not(.main-contextMenu-disabled):hover, :root #bookmark-menu button[aria-expanded=true], :root #bookmark-menu a:not(.main-contextMenu-disabled):focus, :root #bookmark-menu a:not(.main-contextMenu-disabled):hover, :root #bookmark-menu a[aria-expanded=true] {
  background-color: #5c6eb12a;
  transition: 150ms background-color;
}
