:root {
    &.comfy {
        --spice-text: #FFFFFF;
        --spice-subtext: #B9BBBE;
        --spice-main: #23283D;
        --spice-main-transition: #1E2233;
        --spice-highlight: #45495b;
        --spice-highlight-elevated: #32364a;
        --spice-sidebar: #1E2233;
        --spice-player: #101320;
        --spice-card: #191F2E;
        --spice-shadow: #1E2233;
        --spice-selected-row: #F1F1F1;
        --spice-button: #7289DA;
        --spice-button-active: #5C6FB1;
        --spice-button-disabled: #4B588C;
        --spice-tab-active: #1E2233;
        --spice-notification: #7289DA;
        --spice-notification-error: #d25050;
        --spice-misc: #000000;
        --spice-play-button: #7289DA;
        --spice-play-button-active: #869ADF;
        --spice-progress-fg: #1ed760;
        --spice-progress-bg: #7289DA;
        --spice-heart: #d25050;
        --spice-liked-left: #3a62f5;
        --spice-liked-right: #c4efd9;
        --spice-pagelink-active: #5c6eb1;
        --spice-radio-btn-active: #7289DA;
    }

    &.nord {
        --spice-text: #B2BCCC;
        --spice-subtext: #B2BCCC;
        --spice-main: #2E3440;
        --spice-main-transition: #262B35;
        --spice-highlight: #50555f;
        --spice-highlight-elevated: #3d424d;
        --spice-sidebar: #262B35;
        --spice-player: #363d4c;
        --spice-card: #363d4c;
        --spice-shadow: #1d2128;
        --spice-button: #8A99AF;
        --spice-button-active: #718CAD;
        --spice-button-disabled: #434C5E;
        --spice-tab-active: #363d4c;
        --spice-notification: #363d4c;
        --spice-notification-error: #A9555E;
        --spice-misc: #FFFFFF;
        --spice-play-button: #8A99AF;
        --spice-play-button-active: #718CAD;
        --spice-progress-fg: #8A99AF;
        --spice-progress-bg: #4b566a;
        --spice-heart: #718CAD;
        --spice-liked-left: #262B35;
        --spice-liked-right: #B2BCCC;
        --spice-pagelink-active: #b7c1d5;
        --spice-radio-btn-active: #363d4c;
    }

    &.lunar {
        --spice-text: #f3f3f3;
        --spice-subtext: #cecece;
        --spice-main: #161616;
        --spice-main-transition: #101010;
        --spice-highlight: #2a2a2a;
        --spice-highlight-elevated: #232323;
        --spice-sidebar: #202020;
        --spice-player: #202020;
        --spice-card: #202020;
        --spice-shadow: #252525;
        --spice-selected-row: #cecece;
        --spice-button: #3281ea;
        --spice-button-active: #0284e8;
        --spice-button-disabled: #303030;
        --spice-tab-active: #ebbcba;
        --spice-notification: #3281ea;
        --spice-notification-error: #b10c0c;
        --spice-misc: #252525;
        --spice-play-button: #ebbcba;
        --spice-play-button-active: #eba9a7;
        --spice-progress-fg: #025ca1;
        --spice-progress-bg: #202020;
        --spice-heart: #ebbcba;
        --spice-liked-left: #3a62f5;
        --spice-liked-right: #c4efd9;
        --spice-pagelink-active: #ffffff;
        --spice-radio-btn-active: #0284e8;
    }

    &.catppuccin-latte {
        --spice-text: #4c4f69;
        --spice-subtext: #5c5f77;
        --spice-main: #e6e9ef;
        --spice-main-transition: #e6e9ef;
        --spice-highlight: #333645;
        --spice-highlight-elevated: #232533;
        --spice-sidebar: #eff1f5;
        --spice-player: #eff1f5;
        --spice-card: #bcc0cc;
        --spice-shadow: #acb0be;
        --spice-selected-row: #5c5f77;
        --spice-button: #1e66f5;
        --spice-button-active: #209fb5;
        --spice-button-disabled: #bcc0cc;
        --spice-tab-active: #d20f39;
        --spice-notification: #1e66f5;
        --spice-notification-error: #d20f39;
        --spice-misc: #acb0be;
        --spice-play-button: #ea76cb;
        --spice-play-button-active: #dd7878;
        --spice-progress-fg: #04a5e5;
        --spice-progress-bg: #bcc0cc;
        --spice-heart: #fe640b;
        --spice-liked-left: #40a02b;
        --spice-liked-right: #7287fd;
        --spice-pagelink-active: #ffffff;
        --spice-radio-btn-active: #209fb5;
    }

    &.catppuccin-frappe {
        --spice-text: #c6d0f5;
        --spice-subtext: #b5bfe2;
        --spice-main: #292c3c;
        --spice-main-transition: #292c3c;
        --spice-highlight: #333645;
        --spice-highlight-elevated: #232533;
        --spice-sidebar: #303446;
        --spice-player: #303446;
        --spice-card: #51576d;
        --spice-shadow: #626880;
        --spice-selected-row: #b5bfe2;
        --spice-button: #8caaee;
        --spice-button-active: #85c1dc;
        --spice-button-disabled: #51576d;
        --spice-tab-active: #e78284;
        --spice-notification: #8caaee;
        --spice-notification-error: #e78284;
        --spice-misc: #626880;
        --spice-play-button: #f4b8e4;
        --spice-play-button-active: #eebebe;
        --spice-progress-fg: #99d1db;
        --spice-progress-bg: #51576d;
        --spice-heart: #ef9f76;
        --spice-liked-left: #a6d189;
        --spice-liked-right: #babbf1;
        --spice-pagelink-active: #ffffff;
        --spice-radio-btn-active: #85c1dc;
    }

    &.catppuccin-macchiato {
        --spice-text: #cad3f5;
        --spice-subtext: #b8c0e0;
        --spice-main: #181926;
        --spice-main-transition: #181926;
        --spice-highlight: #333645;
        --spice-highlight-elevated: #232533;
        --spice-sidebar: #24273a;
        --spice-player: #24273a;
        --spice-card: #494d64;
        --spice-shadow: #5b6078;
        --spice-selected-row: #b8c0e0;
        --spice-button: #8aadf4;
        --spice-button-active: #7dc4e4;
        --spice-button-disabled: #494d64;
        --spice-tab-active: #ed8796;
        --spice-notification: #8aadf4;
        --spice-notification-error: #ed8796;
        --spice-misc: #5b6078;
        --spice-play-button: #f5bde6;
        --spice-play-button-active: #f0c6c6;
        --spice-progress-fg: #91d7e3;
        --spice-progress-bg: #494d64;
        --spice-heart: #f5a97f;
        --spice-liked-left: #a6da95;
        --spice-liked-right: #b7bdf8;
        --spice-pagelink-active: #ffffff;
        --spice-radio-btn-active: #7dc4e4;
    }

    &.catppuccin-mocha {
        --spice-text: #cdd6f4;
        --spice-subtext: #bac2de;
        --spice-main: #181825;
        --spice-main-transition: #181825;
        --spice-highlight: #333645;
        --spice-highlight-elevated: #232533;
        --spice-sidebar: #1e1e2e;
        --spice-player: #1e1e2e;
        --spice-card: #45475a;
        --spice-shadow: #585b70;
        --spice-selected-row: #bac2de;
        --spice-button: #89b4fa;
        --spice-button-active: #74c7ec;
        --spice-button-disabled: #45475a;
        --spice-tab-active: #f38ba8;
        --spice-notification: #89b4fa;
        --spice-notification-error: #f38ba8;
        --spice-misc: #585b70;
        --spice-play-button: #f5c2e7;
        --spice-play-button-active: #f2cdcd;
        --spice-progress-fg: #89dceb;
        --spice-progress-bg: #45475a;
        --spice-heart: #fab387;
        --spice-liked-left: #a6e3a1;
        --spice-liked-right: #b4befe;
        --spice-pagelink-active: #ffffff;
        --spice-radio-btn-active: #74c7ec;
    }

    &.Mono {
        --spice-text: #FFFFFF;
        --spice-subtext: #B9BBBE;
        --spice-main: #171717;
        --spice-main-transition: #FFFFFF;
        --spice-highlight: #3b3b3b;
        --spice-highlight-elevated: #262626;
        --spice-sidebar: #101010;
        --spice-player: #101010;
        --spice-card: #343434;
        --spice-shadow: #595858;
        --spice-selected-row: #F1F1F1;
        --spice-button: #FFFFFF;
        --spice-button-active: #c5c5c5;
        --spice-button-disabled: #4a4949;
        --spice-tab-active: #303030;
        --spice-notification: #101010;
        --spice-notification-error: #d25050;
        --spice-misc: #000000;
        --spice-play-button: #FFFFFF;
        --spice-play-button-active: #FFFFFF;
        --spice-progress-fg: #FFFFFF;
        --spice-progress-bg: #343434;
        --spice-heart: #FFFFFF;
        --spice-liked-left: #000000;
        --spice-liked-right: #ffffff;
        --spice-pagelink-active: #787878;
        --spice-radio-btn-active: #737373;
    }

    &.Deep {
        --spice-text: #4f9a87;
        --spice-subtext: #406560;
        --spice-button-text: #4f9a87;
        --spice-main: #040614;
        --spice-main-transition: #0F111A;
        --spice-highlight: #0f1f28;
        --spice-highlight-elevated: #09111d;
        --spice-sidebar: #0F111A;
        --spice-player: #0F111A;
        --spice-subbutton-text: #040614;
        --spice-card: #0f1118;
        --spice-shadow: #0f1118;
        --spice-selected-row: #4f9a87;
        --spice-sub-button: #4f9a87;
        --spice-button: #106165;
        --spice-button-active: #4f9a87;
        --spice-button-disabled: #0C1C19;
        --spice-tab-active: #0a1527;
        --spice-notification: #051024;
        --spice-notification-error: #051024;
        --spice-playback-bar: #4f9a87;
        --spice-misc: #406560;
        --spice-play-button: #106165;
        --spice-play-button-active: #4f9a87;
        --spice-progress-fg: #4f9a87;
        --spice-progress-bg: #106165;
        --spice-heart: #d25050;
        --spice-liked-left: #3a62f5;
        --spice-liked-right: #c4efd9;
        --spice-pagelink-active: #4f9a87;
        --spice-radio-btn-active: #4f9a87;
    }

    &.Sunset {
        --spice-text: #ffce3f;
        --spice-subtext: #fef3bb;
        --spice-main: #171717;
        --spice-main-transition: #000000;
        --spice-highlight: #3d3c32;
        --spice-highlight-elevated: #272722;
        --spice-sidebar: #101010;
        --spice-player: #101010;
        --spice-card: #cc9756;
        --spice-shadow: #e3b47b;
        --spice-selected-row: #fef3bb;
        --spice-button: #ffce3f;
        --spice-button-active: #bf9b30;
        --spice-button-disabled: #4a4949;
        --spice-tab-active: #303030;
        --spice-notification: #ffffff;
        --spice-notification-error: #d25050;
        --spice-misc: #000000;
        --spice-play-button: #ffce3f;
        --spice-play-button-active: #fc9e3a;
        --spice-progress-fg: #ff8300;
        --spice-progress-bg: #343434;
        --spice-heart: #ff8300;
        --spice-liked-left: #000000;
        --spice-liked-right: #ffffff;
        --spice-pagelink-active: #fef3bb;
        --spice-radio-btn-active: #fef3bb;
    }

    &.Neon {
        --spice-text: #588bae;
        --spice-subtext: #eaffff;
        --spice-main: #171717;
        --spice-main-transition: #000000;
        --spice-highlight: #3b3b3b;
        --spice-highlight-elevated: #262626;
        --spice-sidebar: #101010;
        --spice-player: #101010;
        --spice-card: #7fa1b5;
        --spice-shadow: #a9c9db;
        --spice-selected-row: #F1F1F1;
        --spice-button: #588bae;
        --spice-button-active: #3b5d75;
        --spice-button-disabled: #4a4949;
        --spice-tab-active: #303030;
        --spice-notification: #ffffff;
        --spice-notification-error: #d25050;
        --spice-misc: #000000;
        --spice-play-button: #588bae;
        --spice-play-button-active: #5085ab;
        --spice-progress-fg: #00afdb;
        --spice-progress-bg: #343434;
        --spice-heart: #00afdb;
        --spice-liked-left: #000000;
        --spice-liked-right: #ffffff;
        --spice-pagelink-active: #bbe7fe;
        --spice-radio-btn-active: #eaffff;
    }

    &.Forest {
        --spice-text: #B2C5B3;
        --spice-subtext: #d5ddde;
        --spice-main: #171717;
        --spice-main-transition: #000000;
        --spice-highlight: #3b3b3b;
        --spice-highlight-elevated: #262626;
        --spice-sidebar: #101010;
        --spice-player: #101010;
        --spice-card: #5c6e59;
        --spice-shadow: #3c5148;
        --spice-selected-row: #F1F1F1;
        --spice-button: #B2C5B3;
        --spice-button-active: #F1F1F1;
        --spice-button-disabled: #4a4949;
        --spice-tab-active: #303030;
        --spice-notification: #ffffff;
        --spice-notification-error: #d25050;
        --spice-misc: #000000;
        --spice-play-button: #3c5148;
        --spice-play-button-active: #43705d;
        --spice-progress-fg: #3c5148;
        --spice-progress-bg: #343434;
        --spice-heart: #3c5148;
        --spice-liked-left: #000000;
        --spice-liked-right: #ffffff;
        --spice-pagelink-active: #3c5148;
        --spice-radio-btn-active: #737373;
    }

    &.Yami {
        --spice-text: #D4D4D4;
        --spice-subtext: #D4D4D4;
        --spice-main: #0A0A10;
        --spice-main-transition: #0A0A10;
        --spice-highlight: #191923;
        --spice-highlight-elevated: #191923;
        --spice-sidebar: #0A0A10;
        --spice-player: #0A0A10;
        --spice-card: #191923;
        --spice-shadow: #AF8BF3;
        --spice-selected-row: #353447;
        --spice-button: #D4D4D4;
        --spice-button-active: #353447;
        --spice-button-disabled: #111117;
        --spice-tab-active: #191923;
        --spice-notification: #0A0A10;
        --spice-notification-error: #F7407B;
        --spice-misc: #0A0A10;
        --spice-play-button: #2B2A3D;
        --spice-play-button-active: #353447;
        --spice-progress-fg: #F7407B;
        --spice-progress-bg: #0A0A10;
        --spice-heart: #F7407B;
        --spice-liked-left: #0A0A10;
        --spice-liked-right: #ffffff;
        --spice-pagelink-active: #F7407B;
        --spice-radio-btn-active: #191923;
    }

    &.Sakura {
        --spice-text: #fcb4ca;
        --spice-subtext: #ffdcdc;
        --spice-main: #171717;
        --spice-main-transition: #000000;
        --spice-highlight: #3d3838;
        --spice-highlight-elevated: #272525;
        --spice-sidebar: #101010;
        --spice-player: #101010;
        --spice-card: #d68ba2;
        --spice-shadow: #fcb4ca;
        --spice-selected-row: #ffdcdc;
        --spice-button: #fcb4ca;
        --spice-button-active: #d48aa0;
        --spice-button-disabled: #4a4949;
        --spice-tab-active: #303030;
        --spice-notification: #ffffff;
        --spice-notification-error: #d25050;
        --spice-misc: #000000;
        --spice-play-button: #f42c38;
        --spice-play-button-active: #ba182b;
        --spice-progress-fg: #Cfeefa;
        --spice-progress-bg: #343434;
        --spice-heart: #f25477;
        --spice-liked-left: #000000;
        --spice-liked-right: #ffffff;
        --spice-pagelink-active: #f5bcdb;
        --spice-radio-btn-active: #ffdcdc;
    }

    &.Vaporwave {
        --spice-text: #01CDFE;
        --spice-subtext: #eaffff;
        --spice-main: #171717;
        --spice-main-transition: #000000;
        --spice-highlight: #3b3b3b;
        --spice-highlight-elevated: #262626;
        --spice-sidebar: #101010;
        --spice-player: #101010;
        --spice-card: #007f9e;
        --spice-shadow: #2ec2e6;
        --spice-selected-row: #F1F1F1;
        --spice-button: #01CDFE;
        --spice-button-active: #118ba8;
        --spice-button-disabled: #4a4949;
        --spice-tab-active: #303030;
        --spice-notification: #ffffff;
        --spice-notification-error: #d25050;
        --spice-misc: #000000;
        --spice-play-button: #ffd300;
        --spice-play-button-active: #e3c01b;
        --spice-progress-fg: #f706cf;
        --spice-progress-bg: #343434;
        --spice-heart: #f706cf;
        --spice-liked-left: #000000;
        --spice-liked-right: #ffffff;
        --spice-pagelink-active: #c0d6fa;
        --spice-radio-btn-active: #eaffff;
    }

    &.Velvet {
        --spice-text: #AD434E;
        --spice-subtext: #762F37;
        --spice-main: #1E1E1E;
        --spice-main-transition: #161616;
        --spice-highlight: #322324;
        --spice-highlight-elevated: #272021;
        --spice-sidebar: #161616;
        --spice-player: #080808;
        --spice-card: #0F0F0F;
        --spice-shadow: #161616;
        --spice-selected-row: #973B45;
        --spice-button: #6B2B32;
        --spice-button-active: #552328;
        --spice-button-disabled: #262626;
        --spice-tab-active: #161616;
        --spice-notification: #6B2B32;
        --spice-notification-error: #60272D;
        --spice-misc: #000000;
        --spice-play-button: #552328;
        --spice-play-button-active: #6B2B32;
        --spice-progress-fg: #81333B;
        --spice-progress-bg: #A23F49;
        --spice-heart: #60272D;
        --spice-liked-left: #2D2D2D;
        --spice-liked-right: #8C3740;
        --spice-pagelink-active: #4A1F23;
        --spice-radio-btn-active: #6B2B32;
    }
}