:root #main.Banner-Enabled {
	.frame {
		display: block;

		.mainImage {
			position: absolute; // Positioned absolutely to cover the entire viewport
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			object-position: top;
			filter: blur(var(--image-blur));
			-webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
			mask-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
		}

		.secondaryImage {
			display: none;
		}
	}

	.main-entityHeader-backgroundColor {
		background: none !important;
	}

	.artist-artistOverview-artistOverviewContent,
	.main-actionBarBackground-background {
		background: linear-gradient(rgba(var(--spice-rgb-main-transition), 0.6) 0, var(--spice-main) var(--tracklist-gradient-height)),
			var(--background-noise) !important;
		height: calc(100% - var(--tracklist-gradient-height));
		min-height: 60vh; // having to do this sucks i need to rework this whole gradient system
	}

	.artist-artistOverview-artistOverviewContent {
		position: relative !important;

		.main-actionBarBackground-background {
			background-image: none !important;
			background-color: unset !important;
		}
	}

	.playlist-playlist-playlistContent,
	.dTKw7B8X1ybw7SHebMH3,
	.xcTrtCsYOPtSElbX9inq {
		background: none; // Remove background
	}
}

:root .Root__main-view {
	.frame {
		display: none;
	}

	.main-view-container {
		// Main Page Tweaks
		main {
			position: sticky;
			.os-host-overflow,
			.os-padding,
			.os-viewport {
				overflow: visible !important; // Override overflow property
			}
		}

		// Radio Button Coloring
		input:checked ~ .x-toggle-indicatorWrapper {
			background-color: var(--spice-radio-btn-active);
		}

		// Cards
		.main-card-card {
			background: var(--spice-sidebar);
			border-radius: var(--border-radius);
			padding: 0;
			overflow: hidden;

			&:hover {
				background: var(--spice-card);
			}

			.main-card-PlayButtonContainer {
				right: 12px !important;
			}

			.main-card-imageContainer {
				margin-bottom: -4px;

				.main-cardImage-circular,
				img {
					border-radius: 0 !important; // Remove border-radius
				}

				.main-cardImage-imageWrapper {
					box-shadow: none !important;
				}
			}

			.main-card-cardMetadata {
				padding: 16px;
			}
		}

		// Headers
		.rX_OmqCngvY5ZCoYBZgb.zyeJ9w99yrvGokL3BsMc:after {
			background-color: var(--spice-main);
		}

		.main-home-homeHeader {
			display: none;
		}

		.main-entityHeader-background {
			height: 80vh;

			&.main-entityHeader-overlay {
				--bgColor: unset !important;
			}
		}

		.main-entityHeader-withBackgroundImage {
			height: clamp(340px, 30vh, 400px) !important;
		}

		.main-entityHeader-container {
			padding: 32px;
			justify-content: center;

			& > div:nth-last-of-type(2),
			.main-entityHeader-imageContainer {
				align-self: center;
				flex-shrink: 0;

				& + .main-entityHeader-headerText {
					flex: unset;
					justify-content: center;

					.main-entityHeader-title h1 {
						font-size: 50px !important;
					}
				}
			}
		}

		// Action bar
		.main-actionBar-ActionBar {
			padding: 8px 16px 16px 16px; // Adjust padding

			.main-actionBar-ActionBarRow {
				.main-playButton-PlayButton {
					margin-left: calc(var(--content-spacing) + 3px);
					margin-top: -24px;
				}

				[class*="Button"] {
					min-block-size: 32px;
					padding-block: 0;
				}
			}
		}

		// Artist Page
		.main-gridContainer-gridContainer:last-child {
			padding-bottom: 50px;
		}

		// Home Page
		.view-homeShortcutsGrid-shortcut {
			border-radius: var(--border-radius);

			.view-homeShortcutsGrid-imageWrapper {
				border-radius: calc(var(--border-radius) + 15px);
			}
			.main-playButton-PlayButton {
				background: none !important;
			}
		}

		// Lyrics plus
		.lyrics-lyricsContainer-Provider {
			font-size: 0;
		}
		.lyrics-lyricsContainer-LyricsContainer {
			position: fixed !important;
			overflow: auto;

			&::-webkit-scrollbar {
				width: 0;
				height: 0;
			}

			.lyrics-lyricsContainer-LyricsBackground {
				z-index: -1;
				background-repeat: no-repeat;
				background-size: cover;
				-webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
				mask-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
			}
		}

		// Playlists
		.playlist-playlist-playlistImageContainer {
			height: 192px;
			min-width: 192px;
			width: 192px;
		}

		// Shows
		section[data-testid="your-episodes-page"] {
			.main-actionBarBackground-background {
				height: calc(100vh - 494px) !important;
			}
		}

		section[data-testid="episode"] {
			.main-actionBar-ActionBarRow {
				margin-top: 0 !important;

				&:nth-child(1) {
					display: none;
				}
			}
		}
	}
}
