:root .Root__main-view {
  // Background Image - Behind the main view (container)
  .mainImage {
    position: absolute; // Positioned absolutely to cover the entire viewport
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top;
    filter: blur(var(--image-blur));
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    mask-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
   }
  .secondaryImage {
    display: none;
  }
  
  .main-view-container {
    z-index: 1 !important;

    // Main Page Tweaks
    main {
      position: sticky;

      .os-host-overflow,
      .os-padding,
      .os-viewport {
        overflow: visible !important; // Override overflow property
      }
    }

    // Radio Button Coloring
    input:checked ~ .x-toggle-indicatorWrapper {
      background-color: var(--spice-radio-btn-active);
    }

    // Cards
    .main-card-card {
      border-radius: var(--border-radius);
      padding: 0;
      overflow: hidden;

      .main-card-PlayButtonContainer {
        right: 12px !important;
      }

      .main-card-imageContainer {
        margin-bottom: -4px;

        .main-cardImage-circular,
        img {
          border-radius: 0 !important; // Remove border-radius
        }

        .main-cardImage-imageWrapper {
          box-shadow: none !important;
        }
      }

      .main-card-cardMetadata {
        padding: 16px;
      }
    }

    // Headers
    .main-home-homeHeader,
    .main-trackList-trackListHeader {
      display: none;
    }

    .main-entityHeader-background {
      height: 80vh;

      &.main-entityHeader-overlay {
        --bgColor: unset !important;
      }
    }

    .main-entityHeader-withBackgroundImage {
      height: clamp(340px,30vh,400px) !important;
    }

    .main-entityHeader-container {
      padding: 32px;
      justify-content: center;

      .main-entityHeader-backgroundColor {
        background: none !important;
      }

      & > div:nth-last-of-type(2),
      .main-entityHeader-imageContainer {
        align-self: center;
        flex-shrink: 0;

        & + .main-entityHeader-headerText {
          flex: unset;
          justify-content: center;

          .main-entityHeader-title h1 {
            font-size: 50px !important;
          }
        }
      }
    }

    // Action bar
    .main-actionBar-ActionBar {
      padding: 8px 16px 16px 16px; // Adjust padding

      .main-actionBar-ActionBarRow {
        .main-playButton-PlayButton {
          margin-left: calc(var(--content-spacing) + 3px);
          margin-top: -24px;
        }

        [class*="Button"] {
          min-block-size: 32px;
          padding-block: 0;
        }
      }
    }

    // Tracklist Styling
    .main-trackList-trackListRowGrid {
      border-radius: var(--border-radius);
      border: none;
      padding-left: 18px;
      transition: 200ms background-color;

      .main-type-mesto,
      .main-type-ballad {
        transition: 300ms color;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.05);
      }

      &.main-trackList-selected {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    .uCHqQ74vvHOnctGg0X0B, // Local Files (has no section)
    .queue-queuePage-queuePage, // Has section but its merged with contentSpacing
    section:not(.album-albumPage-sectionWrapper):not(.search-searchResult-tracklistContainer) .contentSpacing:not(.artist-artistDiscography-tracklist) {
        // Tracklist Grid Layout
        .main-trackList-trackListRow {
          grid-template-columns: [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(
              120px,
              1fr
            ) !important; // Adjust grid template columns

          & > .main-trackList-rowSectionIndex {
            position: absolute;
            z-index: 1000;
            top: 8px;
            left: 18px;
            width: 40px;
            height: 40px;
            justify-content: center;
            text-indent: -1000px;
          }
        }

        .main-trackList-trackList[aria-colcount="6"]
          .main-trackList-trackListRow {
          grid-template-columns:
            [first] 6fr [var1] 4fr [var2] 3fr [var3] minmax(120px, 2fr)
            [last] minmax(
              120px,
              1fr
            ) !important; // Adjust grid template columns for specific case
        }

        // Tracklist Image overlay + Button Overlay
        .main-trackList-rowImageFallback {
          border-radius: var(--border-radius);
        }

        .main-trackList-trackListRow {
          &:hover,
          &:focus-within {
            .main-trackList-rowSectionIndex {
              background: rgba(var(--spice-rgb-play-button), 0.5);
              border-radius: var(--border-radius);
            }

            button.main-trackList-rowImagePlayButton {
              opacity: 1;
              color: black;
            }
          }
        }

        // Highlight title of active song
        .main-trackList-active {
          .main-trackList-rowTitle {
            color: var(--spice-text);
            text-shadow: 0px 0px 6px var(--spice-text);
            -webkit-text-stroke: thin;
          }

          .main-trackList-rowSectionIndex {
            background: rgba(var(--spice-rgb-play-button), 0.5);
            border-radius: var(--border-radius);
          }

          button.main-trackList-rowImagePlayButton {
            opacity: 1;
            color: black;
          }
      }
    }
    // Page Specific Changes
    // Artist Page
    .main-gridContainer-gridContainer:last-child {
      padding-bottom: 50px;
    }

    // Home Page
    .view-homeShortcutsGrid-shortcut {
      border-radius: var(--border-radius);

      .view-homeShortcutsGrid-imageWrapper {
        border-radius: calc(var(--border-radius) + 15px);
      }
    }

    // Lyrics plus
    .lyrics-lyricsContainer-Provider {
      font-size: 0;
    }
    .lyrics-lyricsContainer-LyricsContainer {
      position: fixed !important;
      overflow: auto;
      
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      .lyrics-lyricsContainer-LyricsBackground {
        z-index: -1;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-mask-image: linear-gradient(
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.6)
        );
        mask-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
      }
    }

    // Artist
    .artist-artistOverview-artistOverviewContent {
      position: relative !important;

      .main-actionBarBackground-background {
        background-image: none !important;
        background-color: unset !important;
      }
    }

    .artist-artistOverview-artistOverviewContent,
    .main-actionBarBackground-background {
      background: linear-gradient(
          rgba(var(--spice-rgb-main-transition), 0.6) 0,
          var(--spice-main) 232px
        ),
        var(--background-noise) !important;
      height: calc(100% - 300px);
    }

    // Playlists
    .playlist-playlist-playlistImageContainer {
      height: 192px;
      min-width: 192px;
      width: 192px;
    }

    .playlist-playlist-playlistContent,
    .dTKw7B8X1ybw7SHebMH3,
    .xcTrtCsYOPtSElbX9inq {
      background: none; // Remove background
    }

    // Shows
    section[data-testid="your-episodes-page"] {
      .main-actionBarBackground-background {
        height: calc(100vh - 494px) !important;
      }
    }

    section[data-testid="episode"] {
      .main-actionBar-ActionBarRow {
        margin-top: 0 !important;

        &:nth-child(1) {
          display: none;
        }
      }
    }
  }
}
