:root .Root__nav-bar {
  .main-rootlist-wrapper {
    div:nth-child(2) {
      > li {
        .main-yourLibraryX-listRowEntityImage {
          border-radius: var(--border-radius) !important;
        }
        > div {
          &:active::after {
            background-color: var(--spice-highlight-elevated);
            border-radius: 20px !important;
          }
          .x-entityImage-imageContainer {
            box-shadow: none !important;
          }
        }
      }
    }
  }

  // Library header shadow
  .main-yourLibraryX-isScrolled {
    box-shadow: none !important;
  }

  // Cover art expanded
  .main-coverSlotExpanded-container .cover-art .cover-art-image {
    border-radius: 0 !important;
  }

  // Scrollbar
  .os-scrollbar {
    display: none;
  }
}
