:root .Root__nav-bar {
	.main-rootlist-wrapper {
		div:nth-child(2) {
			>li {
				.main-yourLibraryX-listRowEntityImage {
					border-radius: var(--border-radius) !important;
				}

				>div {
					&:active::after {
						background-color: var(--spice-highlight-elevated);
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
					}
				}
			}
		}

		[role="presentation"]>li>div>div>div>div>div>.x-entityImage-imageContainer {
			box-shadow: 0 4px 60px rgba(var(--spice-rgb-shadow), .0) !important;
		}
	}

	// Library header shadow
	.main-yourLibraryX-isScrolled {
		box-shadow: none !important;
	}

	// Scrollbar
	.os-scrollbar {
		display: none;
	}

	// Forcing line-breaking on long text
	#Desktop_LeftSidebar_Id {
		.main-yourLibraryX-entryPoints {
			span.LineClamp {
				-webkit-line-clamp: 1 !important;
				line-clamp: 1 !important;
			}
		}
	}
}