:root .Root__now-playing-bar {
  .main-nowPlayingBar-container {
    position: relative;
    border-top: none;

    .main-nowPlayingBar-nowPlayingBar {
      margin-bottom: 12px;

      // Cover-art
      .main-nowPlayingWidget-nowPlaying {
        
        &.main-nowPlayingWidget-coverExpanded {
          transform: translateX(-95px);

          .main-coverSlotCollapsed-container[aria-hidden="true"] {
            opacity: 0;
          }
        }

        .main-coverSlotCollapsed-container {
          bottom: var(--cover-art-bottom);
          border-radius: var(--cover-art-radius);

          .cover-art {
            width: var(--cover-art-width) !important;
            height: var(--cover-art-height) !important;
            border-radius: var(--cover-art-radius);
            overflow: hidden;
          }
        }
      }

      // Controls
      .player-controls__buttons--new-icons {
        margin-bottom: 0px !important
      }

      // Miscolored right side button svgs
      .main-nowPlayingBar-extraControls * svg {
        color: rgba(var(--spice-rgb-selected-row),.7) !important;
      }
      .main-nowPlayingBar-extraControls button:hover svg {
        color: var(--spice-text) !important;
      }
    }

    .main-connectBar-connectBar {
      position: absolute;
      top: -15px;
      right: 15px;
      padding: 4px 8px;
      box-sizing: content-box;
      border-radius: var(--border-radius);
      color: #fff;
      background-color: var(--spice-sidebar);

      &::after {
        content: none;
      }
    }
  }

  .volume-bar .progress-bar {
    & > div {
      --bg-color: rgba(var(--spice-rgb-progress-bg), 0.5);
    }
  }

  .playback-bar {
    position: fixed;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
      "time-left time-right"
      "bar bar";
    bottom: 0;
    right: 0;

    .saber-hilt {
      height: 0;
    }

    .playback-progressbar {
      grid-column: 1/3;
      grid-area: bar;

      .progress-bar {
        --bg-color: rgba(var(--spice-rgb-progress-bg), 0.5);
        --fg-color: var(--spice-progress-fg);
        
        .x-progressBar-progressBarBg {
          --progress-bar-height: 12px;
          --progress-bar-radius: 0;

          .x-progressBar-fillColor {
            width: 105%;
            background-color: transparent;
            background-image: linear-gradient(
              90deg,
              var(--spice-progress-fg) 93%,
              transparent 100%
            );
          }
        }
        .progress-bar__slider {
          display: none;
        }
      }
    }

    & > div {
      // Timer height/width
      height: 10px;
      text-align: center;

      &:first-of-type {
        grid-area: time-left;
      }
      &:last-of-type {
        grid-area: time-right;
      }
    }

    // Cursor
    button {
      width: 0;
    }
  }
}
