.spotify__container--is-desktop.spotify__os--is-windows
  #main.Topbar-Inside-Titlebar-Snippet
  .main-topBar-container {
  padding-inline: 60px 150px !important;
  padding-bottom: 64px !important;
}

:root {
  #main {
    &.Comfy-mono-Snippet {
      .cover-art {
        box-shadow: 0 0 10px rgba(var(--spice-rgb-shadow), 0.4);
      }

      .main-coverSlotCollapsed-expandButton,
      .main-editImageButton-icon.icon,
      svg.main-coverSlotExpandedCollapseButton-chevron {
        color: #000000;
      }
    }

    &.Home-Header-Snippet {
      .main-home-homeHeader {
        display: block !important;
      }
    }

    &.Horizontal-pageLinks-Snippet {
      ul#spicetify-sticky-list {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
      }

      span.Type__TypeElement-sc-goli3j-0.TypeElement-balladBold-type {
        display: none;
      }
    }

    &.Remove-Progress-Bar-Gradient-Snippet {
      .x-progressBar-fillColor {
        background-color: var(--fg-color) !important;
        border-radius: var(--progress-bar-radius) !important;
        height: var(--progress-bar-height) !important;
        transform: translateX(
          calc(-100% + var(--progress-bar-transform))
        ) !important;
        width: 100% !important;
      }
    }

    &.Oblong-nowPlaying-Art-Snippet {
      .main-nowPlayingWidget-coverArt .cover-art {
        width: 115px !important;
        height: 84px !important;
        border-radius: 15px;
        overflow: hidden;
      }
    }

    &.Remove-Device-Picker-Notification-Snippet {
      .main-connectBar-connected {
        display: none !important;
      }
    }

    &.Remove-Lyrics-Button-Snippet {
      .main-nowPlayingBar-lyricsButton {
        display: none !important;
      }
    }

    &.Remove-Timers-Snippet {
      .playback-bar__progress-time-elapsed,
      .main-playbackBarRemainingTime-container {
        display: none;
      }
    }

    &.Revert-Right-Art-Snippet {
      .main-coverSlotExpanded-container {
        position: relative !important;
        top: revert !important;
        left: revert !important;
        width: revert !important;
        height: revert !important;
      }
    }

    &.Topbar-Inside-Titlebar-Snippet {
      .Root__top-container {
        grid-template-areas:
          "top-bar top-bar top-bar"
          "left-sidebar main-view right-sidebar"
          "now-playing-bar now-playing-bar now-playing-bar";
        grid-template-rows: auto 1fr auto;

        .Root__top-bar {
          grid-area: top-bar;
          height: 32px;
          margin-top: -32px;

          .main-topBar-container {
            padding-inline: 0;
            padding-bottom: 64px;
            pointer-events: none;

            .main-topBar-topbarContentWrapper > *:not(.main-topBar-searchBar),
            .main-topBar-topbarContent > *:not(.main-topBar-searchBar) {
              justify-content: center;
              display: flex;
            }

            .main-topBar-topbarContent {
              app-region: drag !important;

              .main-entityHeader-topbarTitle {
                height: 32px;
              }
            }

            .main-topBar-background {
              display: none;
            }
          }
        }
      }

      .body-drag-top {
        height: 48px;
      }

      .main-view-container__scroll-node-child-spacer {
        height: 15px;
      }

      .playlist-playlist-playlist,
      .profile-userOverview-container,
      .artist-artistOverview-overview,
      .album-albumPage-sectionWrapper,
      .show-showPage-sectionWrapper,
      .A4dupilHPIEDfhXDE0m0,
      .uCHqQ74vvHOnctGg0X0B,
      .lXcKpCtaEeFf1HifX139,
      .MlK79hskRbFrN2OBjMkl,
      .dpN5ViPOceUWNB5EQPHN,
      .mmCZ5VczybT9VqKB5wFU {
        margin-top: -15px !important;
      }

      .queue-queuePage-queuePage,
      .search-searchCategory-SearchCategory,
      .artist-artistDiscography-topBar {
        margin-top: 0 !important;
        top: 0 !important;
      }
    }
  }
}
