:root {
	&.spotify__container--is-desktop.spotify__os--is-windows #main.Topbar-Inside-Titlebar-Snippet {
		.main-topBar-container {
			padding-inline: 60px 150px !important;
		}
	}
	&.spotify__container--is-desktop.spotify__os--is-linx #main.Topbar-Inside-Titlebar-Snippet {
		.main-topBar-container {
			padding-inline: 0px 150px !important;
		}
	}
	&.spotify__container--is-desktop.spotify__os--is-macos #main.Topbar-Inside-Titlebar-Snippet {
		.main-topBar-container {
			padding-inline: 60px 0px !important;
		}
	}
	&:has(#main.Flatten-Colors-normal) {
		--spice-main: var(--spice-sidebar);
		--spice-main-transition: var(--spice-sidebar);
		--spice-rgb-main: var(--spice-rgb-sidebar);
		--spice-rgb-main-transition: var(--spice-rgb-sidebar);
	}
	&:has(#main.Flatten-Colors-reverse) {
		--spice-sidebar: var(--spice-main);
		--spice-rgb-sidebar: var(--spice-rgb-main);
	}
	&:has(#main.Comfy-Dark-Modals-Snippet) {
		.ABD0FGjBGqGZG33bP7Lc,
		.main-duplicateTrackModal-container {
			background-color: var(--spice-main);
			color: var(--spice-text);
		}
	}

	#main {
		&.Comfy-mono-Snippet {
			.cover-art {
				box-shadow: 0 0 10px rgba(var(--spice-rgb-shadow), 0.4);
			}

			.main-coverSlotCollapsed-expandButton,
			.main-editImageButton-icon.icon,
			svg.main-coverSlotExpandedCollapseButton-chevron {
				color: #000000;
			}
		}

		&.Comfy-nord-Snippet.Custom-Playbar-Snippet {
			.Root__now-playing-bar.LibraryX {
				--cover-ambience-background: var(--spice-player, var(--spice-sidebar)) !important;
			}

			.main-connectBar-connectBar {
				margin-bottom: 8px;
			}

			.main-nowPlayingBar-nowPlayingBar {
				padding: 0 8px 6px 0 !important;
				margin-bottom: 0 !important;
				background: var(--bg-img, var(--spice-player));
				border-radius: var(--border-radius);

				.playback-bar {
					position: absolute !important;

					.playback-bar__progress-time-elapsed,
					.main-playbackBarRemainingTime-container {
						position: absolute;
						bottom: 18px;
						right: 0px;
						grid-area: none !important;
					}
					.playback-bar__progress-time-elapsed {
						transform: translateX(calc(-100% - 20px));
					}
					.playback-bar__progress-time-elapsed::after {
						position: absolute;
						left: calc(100% + 10px);
						font-weight: bold;
						color: rgba(var(--spice-rgb-custom-subdued), 0.8);
						content: "/";
						transform: translateX(-50%);
					}

					.x-progressBar-progressBarBg,
					.x-progressBar-sliderArea {
						border-radius: 0 0 8px 8px !important;
						height: 6px !important;
					}

					> div,
					.x-progressBar-fillColor {
						height: 6px !important;
						border-radius: 50px !important;
					}
				}
			}
		}
		&.Comfy-kitty-Snippet {
			.Root__main-view {
				background-image: url("https://media0.giphy.com/media/lVHOm4nZ0yfFXI8cgd/giphy.gif?cid=790b7611hvc1po0u3gn3yrlgmhu5gqhjv9cve7hp84f9aoox&ep=v1_gifs_search&rid=giphy.gif") !important;
				background-position-x: center !important;
				background-position-y: center !important;
				background-size: 610px !important;
				background-repeat: no-repeat !important;
			}
		}
		&.Remove-Column-Bar-Snippet {
			.main-trackList-trackListHeader {
				display: none;
			}
		}

		&.Home-Header-Snippet {
			.main-home-homeHeader {
				display: block !important;
			}
		}
		&.Home-Header-Color {
			.main-home-homeHeader {
				background-color: var(--home-header-color) !important;
			}
		}

		&.Horizontal-pageLinks-Snippet {
			ul#spicetify-sticky-list {
				justify-content: center;
				align-items: center;
				display: flex;
				flex-wrap: wrap;
			}

			span.Type__TypeElement-sc-goli3j-0.TypeElement-balladBold-type,
			span.Text__TextElement-sc-if376j-0.TextElement-bodyMediumBold-text.encore-text-body-medium-bold {
				display: none;
			}
		}

		&.Smooth-Progress-Bar-Snippet {
			.x-progressBar-fillColor {
				transition: 250ms;
				transition-delay: 0ms;
				transition-timing-function: ease-out;
			}
			.progress-bar__slider {
				transition: 250ms;
				transition-delay: 0ms;
				transition-timing-function: ease-out;
			}
		}

		&.Remove-Progress-Bar-Gradient-Snippet {
			.x-progressBar-fillColor {
				background-color: var(--fg-color) !important;
				border-radius: var(--progress-bar-radius) !important;
				height: var(--progress-bar-height) !important;
				transform: translateX(calc(-100% + var(--progress-bar-transform))) !important;
				width: 100% !important;
			}
		}

		&.Remove-Connect-Bar-Snippet {
			.main-connectBar-connectBar,
			.main-devicePicker-indicator {
				display: none !important;
			}
		}

		&.Remove-Lyrics-Button-Snippet {
			.main-nowPlayingBar-lyricsButton {
				display: none !important;
			}
		}

		&.Hoverable-Timers-Snippet {
			.playback-bar {
				> div {
					transition: all 0.3s ease;
					opacity: 0;
				}

				&:hover > div {
					transition: all 0.3s ease;
					opacity: 1 !important;
				}

				.playback-progressbar {
					opacity: 1 !important;
				}
			}
		}

		&.Topbar-Inside-Titlebar-Snippet {
			.Root__top-container {
				grid-template-areas:
					"top-bar top-bar top-bar"
					"left-sidebar main-view right-sidebar"
					"now-playing-bar now-playing-bar now-playing-bar" !important;
				grid-template-rows: auto 1fr auto !important;

				.main-topBar-container {
					pointer-events: none;
					grid-area: top-bar;
					contain: unset;
					top: calc(var(--comfy-topbar-height, 40px) * -1 + 1px);
					height: calc(var(--comfy-topbar-height, 40px) + 8px);
					padding-block: 8px;

					.main-topBar-topbarContentWrapper {
						> *:not(.main-topBar-searchBar):not(:has(ul)) {
							justify-content: center;
							display: flex;
						}
						ul {
							text-align: center !important;
							justify-content: center;
						}
						.queue-tabBar-headerItemLink {
							padding: 5px 16px;
						}
					}

					.main-topBar-topbarContent {
						app-region: drag !important;

						.main-entityHeader-topbarTitle {
							height: 100%;
						}
					}

					.main-topBar-background {
						display: none;
					}
				}
			}

			.body-drag-top {
				height: 48px;
			}

			.main-view-container__scroll-node-child-spacer {
				height: 15px;
			}

			.playlist-playlist-playlist,
			.profile-userOverview-container,
			.artist-artistOverview-overview,
			.album-albumPage-sectionWrapper,
			.show-showPage-sectionWrapper,
			.A4dupilHPIEDfhXDE0m0,
			.uCHqQ74vvHOnctGg0X0B,
			.lXcKpCtaEeFf1HifX139,
			.MlK79hskRbFrN2OBjMkl,
			.dpN5ViPOceUWNB5EQPHN,
			.mmCZ5VczybT9VqKB5wFU {
				margin-top: -15px !important;
			}

			.queue-queuePage-queuePage,
			.search-searchCategory-SearchCategory,
			.artist-artistDiscography-topBar,
			.marketplace-header,
			.f59DF4qQ_FphIrVeRYkI {
				margin-top: 0 !important;
				top: 0 !important;
			}

			.marketplace-header,
			.f59DF4qQ_FphIrVeRYkI {
				padding-top: 8px !important;
			}
		}

		&.Collapse-Topbar-Snippet {
			.main-topBar-topbarContentWrapper nav {
				justify-content: center;
				display: flex;
			}
		}

		&.AM-Gradient-Include-Existing-Snippet.Banner-Enabled {
			.under-main-view div:has(.main-entityHeader-gradient) {
				display: none !important;
			}
		}

		&.Apple-Music-Gradient-Snippet {
			.frame {
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 0;
				filter: blur(calc(var(--image-blur) * 10));
				background-image: var(--gradient-background-image);

				.mainImage,
				.secondaryImage {
					position: absolute;
					width: var(--gradient-width);
					aspect-ratio: 1;
					animation: rotate var(--gradient-speed) linear infinite;
					border-radius: var(--gradient-radius) !important;
					mix-blend-mode: var(--gradient-blend-mode);
					object-fit: cover !important;
				}

				.mainImage {
					/* Nullify all the values */
					height: revert;
					left: unset;
					object-fit: unset;
					object-position: unset;
					filter: none;
					-webkit-mask-image: none;
					mask-image: none;
					right: 0;
					top: 0;
					z-index: 10;
				}

				.secondaryImage {
					display: revert;
					left: 0;
					bottom: 0;
					animation-direction: reverse;
				}
			}

			@keyframes rotate {
				from {
					transform: rotate(0deg);
				}

				to {
					transform: rotate(360deg);
				}
			}
		}
	}
}
