// Tracklist
.main-trackList-active .main-trackList-rowTitle {
	color: var(--spice-text) !important;
	text-shadow: 0px 0px 6px var(--spice-text);
	-webkit-text-stroke: thin;
}

.main-trackList-trackListRow,
.main-trackList-trackListHeaderRow {
	border-radius: var(--border-radius);
	border: none;
	transition: 200ms background-color;

	&:hover {
		background-color: rgba(var(--spice-rgb-selected-row), 0.05);
	}

	&.main-trackList-selected {
		background-color: rgba(var(--spice-rgb-selected-row), 0.1);
		&:hover {
			background-color: rgba(var(--spice-rgb-selected-row), 0.15);
		}
	}

	.main-type-mesto,
	.main-type-ballad {
		transition: 300ms color;
	}
}

// Image Tracklist
.main-trackList-trackList:has(.main-trackList-rowSectionStart img),
.main-trackList-trackList:has(.main-trackList-rowSectionStart .main-trackList-rowImageFallback) {
	.main-trackList-trackListHeader {
		.main-trackList-rowSectionIndex {
			text-indent: -1000px;
		}
	}

	.main-trackList-trackListRow {
		&:hover,
		&:focus-within,
		&.main-trackList-active {
			.main-trackList-rowImagePlayPauseButton,
			.main-trackList-rowSectionIndex {
				background: rgba(var(--spice-rgb-play-button), 0.5);
				border-radius: var(--border-radius);
			}
			.main-trackList-rowImagePlayButton,
			.main-trackList-rowImagePlayPauseButton {
				opacity: 1;
				color: var(--spice-sidebar);
			}
		}

		> .main-trackList-rowSectionIndex {
			position: relative;
			z-index: 1000;
			top: 8px;
			left: 56px;
			width: 40px;
			height: 40px;
			justify-content: center;
			text-indent: -1000px;
		}
	}

	// Temp fix for right queue panel, they weirdly show all active songs of same type with no new selector except this subclassname
	// could technically just apply the border radius opacity and stuff AGAIN here but duplication bad so i'll find a selector good enough
	.main-trackList-rowImagePlayPauseButtonPlaying {
		opacity: 0;
	}

	.main-trackList-rowImageFallback {
		border-radius: var(--border-radius) !important;
	}
}

// Image Tracklist with Index
.main-trackList-indexable:has(.main-trackList-rowSectionStart img) {
	@for $i from 3 through 6 {
		&[aria-colcount="#{$i}"] .main-trackList-trackListRowGrid {
			padding-left: 2px;

			@if $i == 3 {
				grid-template-columns: [index] 0px [first] 4fr [last] minmax(120px, 1fr) !important;
			} @else if $i == 4 {
				grid-template-columns: [index] 0px [first] 4fr [var1] 2fr [last] minmax(120px, 1fr) !important;
			} @else if $i == 5 {
				grid-template-columns: [index] 0px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(120px, 1fr) !important;
			} @else if $i == 6 {
				grid-template-columns: [index] 0px [first] 6fr [var1] 4fr [var2] 3fr [var3] minmax(120px, 2fr) [last] minmax(120px, 1fr) !important;
			}
		}
	}
}
