@forward "assets/main";
@forward "assets/navbar";
@forward "assets/now_playing";
@forward "assets/settings";
@forward "assets/top_bar";

:root {
  // Variables
  --border-radius: 8px;
  --button-radius: 8px;
  --spice-main-elevated: transparent;

  button,
  button span,
  input,
  img {
    border-radius: var(--border-radius) !important;
  }

  button:not(.main-editImageButton-overlay):not([style*="background-image"]),
  button span,
  input:not([style*="background-image"]) {
    --border-radius: var(--button-radius) !important;
  }

  // Base Sets
  .encore-bright-accent-set {
    --background-base: var(--spice-play-button);
    --background-highlight: var(--spice-play-button-active);
    --background-press: var(--spice-play-button-active);
  }


  // Premium Fullscreen Overlay
  .npv-background-image__overlay {
    background: linear-gradient(
        rgba(var(--spice-rgb-shadow), 0.5) 0,
        transparent 100%
      ),
      var(--background-noise);
    background-color: unset;
  }

  // Right Side Cover Art
  .main-coverSlotExpanded-container {
    position: fixed;
    top: calc(100% - 318px);
    left: calc(100% - 230px);
    width: 200px;
    height: 200px;
  }

  // Scrollbar
  .Root__main-view .main-view-container__scroll-node-child {
    padding-bottom: 0;
  }
  aside#Desktop_PanelContainer_Id .os-scrollbar-vertical,
  .os-scrollbar-horizontal {
    display: none !important;
  }
  .os-scrollbar-vertical {
    background: none;

    .os-scrollbar-track {
      width: 10px;
    }

    .os-scrollbar-handle {
      border: 2px solid rgba(200, 200, 200, 0.275);
      border-radius: 4.5px;
    }
  }

  // Coloured hearts
  .main-addButton-active {
    color: var(--spice-heart);
    &:hover {
      color: rgba(var(--spice-rgb-heart), 0.7);
    }
  }

  #_R_G *:not([stroke="none"]) {
    stroke: var(--spice-heart);
  }

  .main-trackList-rowHeartButton,
  .control-button-heart,
  #_R_G {
    & *:not([fill="none"]) {
      fill: var(--spice-heart) !important;
    }
  }

  // Menus
  #context-menu {
    overflow: hidden;

    ul:not([aria-labelledby~="device-picker-header"]) {
      background-color: var(--spice-player);

      button,
      a {
        border-radius: 2px !important;

        &::before,
        &::after {
          content: none;
        }
        &:not(.main-contextMenu-disabled):focus,
        &:not(.main-contextMenu-disabled):hover,
        &[aria-expanded="true"] {
          background-color: #5c6eb12a;
          transition: 150ms background-color;
        }
      }
    }
  }

  #bookmark-menu {
    background-color: var(--spice-player);
    border-radius: var(--border-radius);

    .bookmark-filter {
      background-color: var(--spice-player);
    }

    button,
    a {
      border-radius: 0;

      &::before,
      &::after {
        content: none;
      }
      &:not(.main-contextMenu-disabled):focus,
      &:not(.main-contextMenu-disabled):hover,
      &[aria-expanded="true"] {
        background-color: #5c6eb12a;
        transition: 150ms background-color;
      }
    }
  }
}
