@forward "assets/main";
@forward "assets/navbar";
@forward "assets/now_playing";
@forward "assets/settings";
@forward "assets/top_bar";

:root {
  --border-radius: 8px;

  button,
  button span,
  input,
  img {
    border-radius: var(--border-radius) !important;
  }

  // -- Other --

  // Scrollbar
  .os-scrollbar-vertical {
    background: none;

    .os-scrollbar-track {
      width: 10px;
    }

    .os-scrollbar-handle {
      border: 2px solid rgba(200, 200, 200, 0.275);
      border-radius: 4.5px;
    }
  }

  // Play Buttons
  .encore-bright-accent-set {
    --background-base: var(--spice-play-button);
    --background-highlight: var(--spice-play-button-active);
    --background-press: var(--spice-play-button-active);
  }

  // Coloured hearts
  .main-trackList-rowHeartButton *:not([fill="none"]),
  .control-button-heart *:not([fill="none"]) {
    color: var(--spice-heart) !important;
    fill: var(--spice-heart) !important;
  }
  .main-trackList-rowSectionEnd .main-addButton-active,
  .main-trackList-rowSectionEnd .main-addButton-active:focus,
  .main-trackList-rowSectionEnd .main-addButton-active:hover {
    color: var(--spice-heart);
  }

  // Lyrics plus
  .lyrics-lyricsContainer-Provider {
    font-size: 0;
  }
  .lyrics-lyricsContainer-LyricsBackground {
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    mask-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  }

  #context-menu {
    overflow: hidden;

    ul {
      background-color: var(--spice-player);

      button,
      a {
        border-radius: 0;

        &::before,
        &::after {
          content: none;
        }
        &:not(.main-contextMenu-disabled):focus,
        &:not(.main-contextMenu-disabled):hover,
        &[aria-expanded="true"] {
          background-color: #5c6eb12a;
          transition: 150ms background-color;
        }
      }
    }
  }

  #bookmark-menu {
    background-color: var(--spice-player);
    border-radius: var(--border-radius);

    .bookmark-filter {
      background-color: var(--spice-player);
    }

    button,
    a {
      border-radius: 0;

      &::before,
      &::after {
        content: none;
      }
      &:not(.main-contextMenu-disabled):focus,
      &:not(.main-contextMenu-disabled):hover,
      &[aria-expanded="true"] {
        background-color: #5c6eb12a;
        transition: 150ms background-color;
      }
    }
  }
}
