 .main-entityHeader-container.main-entityHeader-nonWrapped {
     min-height: 310px !important;
}
 :root .Root__main-view #mainImage {
     z-index: 0 !important;
}
 .main-view-container {
     z-index: 1 !important;
}
 @media (max-width: 850px) {
     .main-actionBar-ActionBarRow {
         margin-left: -6px !important;
    }
}
 @media (min-width: 850px) {
     .contentSpacing {
         padding: 0 29px;
    }
}
 :root .Root__main-view .main-actionBarBackground-background {
     top: 310px !important;
}
 @media (min-width: 1280px) {
     .playlist-playlist-playlistImageContainer {
         height: 192px;
         min-width: 192px;
         width: 192px;
    }
}
 :root .Root__now-playing-bar .playback-bar {
     right: 0px !important;
     position: fixed !important;
}
