/* Needs more but proof of concept here: */
.cover-art.shadow {
    box-shadow: 0 0 10px rgba(var(--spice-rgb-shadow),.4);
}

.main-coverSlotCollapsed-expandButton:focus, .main-coverSlotCollapsed-expandButton {
	color: rgb(0,0,0);
}

.main-coverSlotCollapsed-expandButton:focus, .main-coverSlotCollapsed-expandButton:hover {
	color: rgb(0,0,0);
}

.main-editImageButton-icon.icon {
	color: #000000;
}

svg.main-coverSlotExpandedCollapseButton-chevron {
    color: rgb(0,0,0);
}
