#main > div > div.Root__top-container.Root__top-container--right-sidebar-hidden > div.Root__now-playing-bar > footer > div > div.main-nowPlayingBar-left > div > div.main-coverSlotCollapsed-container.main-coverSlotCollapsed-navAltContainer > div > a > div > div {
    width: 115px !important;
    height: 84px !important;
	border-radius: 15px;
	overflow: hidden;
}
