:root .Root__now-playing-bar .main-nowPlayingBar-container .main-nowPlayingBar-nowPlayingBar .main-nowPlayingWidget-nowPlaying .main-coverSlotCollapsed-container .cover-art {
    width: 115px !important;
    height: 84px !important;
	border-radius: 15px;
	overflow: hidden;
}
