.Root__top-bar {
  grid-area: top-bar;
  height: 32px;
  margin-top: -32px;
}

.Root__top-container {
  grid-template-areas:
    "top-bar top-bar top-bar"
    "left-sidebar main-view right-sidebar"
    "now-playing-bar now-playing-bar now-playing-bar";
  grid-template-rows: auto 1fr auto;
}

header.main-topBar-container {
  pointer-events: none;
}

.spotify__container--is-desktop.spotify__os--is-windows .nav-ylx .main-topBar-container {
  padding-inline: 60px 150px; padding-bottom: 64px;
} 
.nav-ylx .main-topBar-container { 
  padding-inline: 60px 0; 
  padding-bottom: 64px; 
} 

.nav-ylx .main-topBar-topbarContent {
  app-region: drag !important;
}

.main-topBar-topbarContentWrapper > *:not(.main-topBar-searchBar), .main-topBar-topbarContent > *:not(.main-topBar-searchBar) {
  justify-content: center;
  display: flex;
}
.main-topBar-background { 
  display: none;
} 

.main-view-container__scroll-node-child-spacer {
  height: 15px;
}
.playlist-playlist-playlist,
.profile-userOverview-container,
.artist-artistOverview-overview,
.album-albumPage-sectionWrapper,
.show-showPage-sectionWrapper,
.A4dupilHPIEDfhXDE0m0,
.uCHqQ74vvHOnctGg0X0B,
.lXcKpCtaEeFf1HifX139,
.MlK79hskRbFrN2OBjMkl,
.dpN5ViPOceUWNB5EQPHN,
.mmCZ5VczybT9VqKB5wFU {
    margin-top: -15px !important;
}

.search-searchCategory-SearchCategory, 
.artist-artistDiscography-topBar {
  margin-top: 0 !important;
  top: 0 !important;
}

:root .Root__top-bar header .main-entityHeader-topbarTitle {
    height: 32px;
}
.lyrics-lyricsContainer-LyricsContainer {
  margin-top: -15px !important;
}